/**
colour pallete:
#3C7C3B
#E7A639
#F7E7CE

fonts:
    REGULAR
    font-family: "iskra", sans-serif;
    font-weight: 400;
    font-style: normal;

    MEDIUM
    font-family: "iskra", sans-serif;
    font-weight: 500;
    font-style: normal;

    BOLD
    font-family: "iskra", sans-serif;
    font-weight: 700;
    font-style: normal;

    ULTRA BOLD
    font-family: "iskra", sans-serif;
    font-weight: 900;
    font-style: normal;
**/

* {
    font-family: "iskra", sans-serif;
    font-style: normal;
}

/**HEADER**/
header {
    /** background colour and fonts**/
    background-color: #3C7C3B;

    /**I don't know why it's not actually changing the font weight and it's
     making me sad but I don't have it in me to figure out how to fix it**/
    font-weight: 700;


    font-size: 40px;
    color: white;

    height: 110px;
}

nav ul {
    /* border: 1px solid red; */
    height: 110px;
    display: grid;
    grid-template-columns: 700px 1fr 1.45fr repeat(3, 1fr);
    padding-right: 2rem;
    grid-row-start: 2;

    align-content: center;
}

nav ul li {
    /* border: 1px solid red; */
    align-self: center;
}


/**HERO**/
/**thank you internet for code on how to put one image on top of another**/
.hero {
    position: relative;
    top: 0;
    left: 0;
}

.img-1 {
    position: relative;
    top: 0;
    left: 0;
}

.img-2 {
    position: absolute;
    top: 80px;
    right: 110px;
}

/**TRAILER AND AVAILABLE NOW**/
.buy {
    font-weight: 700;
    font-size: 50px;
    color: white;


    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    gap: 3rem;
}

.buy ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}


/**ABOUT**/
.about {
    background-color: #E7A639;
}

.about .container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.about .section-1,
.about .section-2,
.about .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10rem;
}



.about .text-1,
.about .text-2,
.about .text-3 {

    display: flex;
    height: 249px;
    flex-direction: column;
}


/**why did I lay out everything like that im going to cry**/

/**SOUNDTRACK**/

.music {
    background-color: #F7E7CE;
}

.music .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
}



.music .text-1 {
    border: 1px solid red;
    display: flex;
    height: 273px;
    flex-direction: column;
}


.music .button {
    font-size: 30px;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #3C7C3B;
    border-radius: 15px;
    padding: 0.75rem;
    margin-right: 355px;
}





a {
    color: white;
    text-decoration: none;
}


main {
    background-color: #3C7C3B;
}

footer {
    background-color: #3C7C3B;
}

h4 {
    font-size: 30px;
    font-weight: 900;
}

p {
    font-size: 20px
}

/* .test{

  } */


/****** Screen reader text utility class- that I stole from excersize 15.
is that ok???? I didn't know how to do it on my own but still wanted it here
I hope that's ok *******/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

